/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --header-height: 25vh;
}

* {
    margin: 0;
    padding: 0;
}

body {
    color: black;
    font-family: "Nunito", sans-serif;
}

button {
    font-family: "Nunito", sans-serif;
    background-color: white;
    padding: 0.5rem 2.5rem;
}


/* ------------------------------------------------------------------------- */
/* HEADER */
#header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: var(--header-height);
}

.header-image {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.header-title {
    position: absolute;
    text-align: center;
    padding: 1rem;
    background-color: white;
    border-color: black;
    border-style: solid;
    border-radius: 0.25rem;
    font-weight: 900;
    font-size: 4rem;
}



/* ------------------------------------------------------------------------- */
/* QUIZ */
#quiz {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.question-container {
    display: flex;
    flex-direction: column;
    width: 75%;
    padding-bottom: 5vh;
}

.question-title {
    text-align: center;
    font-size: 3rem;
    padding: 2.5rem;
}

.answer-choice-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.answer-choice {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: .5rem;
    width: 20vw;
    height: 20vw;
    opacity: 1;
    transition: all 0.25s ease-in-out;
    border: 0.1rem solid black;
    border-radius: 0.1rem;
}

.answer-choice:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.answer-choice.selected {
    opacity: 1;
    border: 0.5rem solid black;
    border-radius: 0.5rem;
}

.answer-choice.not-selected {
    opacity: 0.5;
}

.answer-label {
    position: absolute;
    margin: .25rem;
    padding: 0.25rem;
    border: 0.1rem solid black;
    background-color: white;
    font-size: 1.25vw;
    font-weight: 600;
}

.answer-choice.text {
    justify-content: center;
    text-align: center;
    font-size: 3vw;
}

input[type=radio] {
    display: none;
}



/* ------------------------------------------------------------------------- */
/* RESULTS @notice: Original styling from W3 Schools content on Modals */
#results {
    display: flex;
    padding: 1rem;
    justify-content: center;
}

#get-results-button {
    font-size: 3rem;
}

#get-results-button:hover {
    cursor: pointer;
    color: white;
    background-color: darkslategray;
}

.modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0, 0.5); /* Fallback color */
}

.modal-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 75%;
}

.close {
    color: gray;
    float: right;
    font-size: 3rem;
    font-weight: 600;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}