/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --header-height: 25vh;
}

* {
    margin: 0;
    padding: 0;
}

body {
    color: black;
    font-family: "Nunito", sans-serif;
}


/* ------------------------------------------------------------------------- */
/* HEADER */
#header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: var(--header-height);
    overflow: hidden;
}

.header-image {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.header-title {
    position: absolute;
    text-align: center;
    padding: 1rem;
    background-color: white;
    border-color: black;
    border-style: solid;
    border-radius: 0.25rem;
    font-size: 2.5rem;
}



/* ------------------------------------------------------------------------- */
/* QUIZ */
#quiz {
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-container {
    width: 75%;
}

.question-title {
    text-align: center;
    padding: 2.5rem;
}

.answer-choice-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgba(250,243,215,255);
}

.answer-choice {
    display: flex;
    flex-direction: column;
    margin: .5rem;
}

.answer-choice-image {
    object-fit: scale-down;
    width: 25rem;
    height: 25rem;
}

.answer-choice .label {
    text-align: center;
    margin-top: .5rem;
    font-size: 1.25rem;
    font-weight: 600;
}

input[type=radio] {
    display: none;
}



/* ------------------------------------------------------------------------- */
/* RESULTS */
#results {
    display: flex;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}