/* GENERAL */

:root {
    --header-height: 25vh;
}

* {
    margin: 0;
    padding: 0;
}


/* ------------------------------------------------------------------------- */
/* HEADER */
#header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: var(--header-height);
    overflow: hidden;
}

.header-image {
    width: 100%;
    object-fit: cover;
    height: 100%;
    /* top: 10000px; */
}

.header-title {
    position: absolute;
    background-color: white;
    padding: 1rem;
    border-color: black;
    border-style: solid;
    border-radius: 0.25rem;
}



/* ------------------------------------------------------------------------- */
/* QUIZ */
